.categories {
	padding-bottom: 170px;
  background: url("../img/categories_bg.jpg") no-repeat;
}

.categories__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 16px;

}

.categories__title {
	padding: 69px 0;

}

.categories__item {
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
	width: 346px;
	height: 288px;
  margin: 0 15px;
  padding-bottom: 38px;


	&--single {
		background: url('../img/single.jpg') no-repeat;

    &:hover {
      background: linear-gradient(to bottom left, transparent 50%, rgba(252, 255, 25, 0.17) 50%),
                  url('../img/single.jpg') no-repeat;
    }
	}

	&--premium {
		background: url('../img/premium.jpg') no-repeat;

    &:hover {
      background: linear-gradient(to bottom left, transparent 50%, rgba(252, 255, 25, 0.17) 50%),
                  url('../img/premium.jpg') no-repeat;
    }
	}

	&--city {
		background: url('../img/city.jpg') no-repeat;

    &:hover {
      background: linear-gradient(to bottom left, transparent 50%, rgba(252, 255, 25, 0.17) 50%),
                  url('../img/city.jpg') no-repeat;
    }
	}
}

.categories__item-title {
	margin: 0;
  margin-top: 140px;
	font-size: 15px;
	font-weight: 700;
	color: $yell;
  letter-spacing: 0.3px;
  z-index: 10;
}

.categories__item-text {
  margin-top: 8px;
	text-transform: none;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
  letter-spacing: 0.2px;
  z-index: 10;
}

.categories__item-btn {
  display: none;
  margin: 0;
  padding: 14px 21px 10px;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  border: 3px solid #fff;
  z-index: 10;
}

.categories__item:hover > .categories__item-btn {
	display: inline-block;
}
