.contacts {
  background: url("../img/contacts_bg.jpg") no-repeat;
  background-size: cover;
}

.contacts__title {
  padding: 60px 0 40px 0;
}

.contacts__text {
  text-transform: none;
  text-align: center;
}
