.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  //min-height: 980px;
  padding-top: 30px;
  background: url('../img/filter1.png'),
  url("../img/header_bg.jpg");
  background-repeat: no-repeat;
  //background-size: cover;
}

.header__logo {
  position: relative;
  display: block;
  margin-top: 8px;
  height: 32px; 

  img {
    display: block;
  }

  &:before {
    content: '';
    position: absolute;
    width: 29px;
    height: 24px;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    background: url('../img/icon-bike.png') no-repeat;
  }

}
