.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 980px;
  padding-top: 30px;
  background: url('../img/filter1.png'),
  url("../img/header_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__logo {
  width: 24%;
  text-align: center;
}
